.bordered-image {
  background-color: rgb(50, 23, 87);
  border: 5px solid rgb(50, 23, 87); /* Adjust the border size as needed */
  width: 100%; /* Ensure the image scales within the container */
  height: auto; /* Maintain aspect ratio */
}
